/* public*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}
ul{
    margin: 0!important;
}
html{
    font-size: 10px;
}
body{
    font-family:  "Microsoft YaHei";
    font-size: 1.4rem;
    color: #000;
    background-color: #fafafa;
    min-width: 320px;
}
a:hover,a:active,a:focus{
    text-decoration: none;
    transition: .5s;
}
form>textarea,form>input{
    resize: none;
    margin: 1rem 0;
}
form{
    zoom: 1;
}
form:after{
    display: block;
    width: 0;
    height: 0;
    content: ".";
    clear: both;
    overflow: hidden;
}

/* head*/
.navbar-head {
    line-height: 50px;
}
.navbar-head-color {
    background-color: #299ecf;
}
.navbar-head-color a{
    color: #fff!important;
    transition: .3s;
}
.navbar-head a{
    display: block;
    width: 100%;
    height: 100%;
}
.navbar-head li a:hover,
.navbar-head li a:active,
.navbar-head li a:focus{
    background-color: rgba(222, 217, 230, 0.26);
}
.navbar-head li{
    padding: 0!important;
}
.navbar-head li>a{
    padding-left: 10px!important;
    padding-right: 10px!important;
}

/* mobile nav*/
.mobile-nav{
    margin-top: 50px;
    background-color: #fff;
}
.mobile-nav .container{
    padding: 0!important;
}
.mobile-nav ul{
    width: 100%;
    text-align: center;
}
.mobile-nav li{
    width: 32%;
    padding: 0.5rem 0!important;
    text-align: center;
    border-bottom:3px solid #ffffff;

}
.mobile-nav li>a{
    display: block;
    width: 100%;
    height: 100%;
}
.mobile-nav li.active{
    border-bottom:3px solid #ff0000;
}

/* framework */
.framework-content{
   margin-top: 100px;
}
.delete-float{
    zoom: 1;
}
.delete-float:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
section>.delete-float>*{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
article {
    padding: 0 1rem;
    background-color: #fff;
    border: 2px solid #e7e6e6;
    border-radius: 10px;
    margin-bottom: 2rem;
}
article h3{
    color: #449acb;
}



/*  aside*/
aside .top-ic>li{
    width: 100%;
}
.top-ic>li{
    display: inline-block;
    padding:1rem ;
}
.top-ic>li>*{
    float: left;
}
@media (max-width: 330px) {
    .top-ic>li>button{
        display: none !important;
    }
}
.top-ic>li>button{
    float: right;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    display: inline-block;
    padding: 0.3rem 0.6rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: .5s;
}
.top-ic>li>button:hover,.top-ic>li>:active,.top-ic>li>:focus{
    background-color: #d09744;
}
.top-ic>li>div{
    padding:1.5rem 0 0 1.5rem;
    text-align: center;
}
.top-ic>li img{
    width: 6rem;
    height: 6rem;
    padding: 2px;
    border: 2px solid #e8e8e8;
}

/* reply-list*/
.reply-list>div{
    margin: 1rem 0;
    border-bottom: 1px solid #e6e6e6;
}
.reply-list>div:nth-child(1){
    border-top: 1px solid #e6e6e6;
}
.reply-list>div:nth-last-child(1){
    border-bottom: none;
}


/* page-nav*/
.page-nav .container{
    padding: 0!important;
}
.page-nav ul{
    width: 100%;
    text-align: center;
}
.page-nav li{
    width: 32%;
    padding: 0.5rem 0!important;
    text-align: center;
}
.page-nav li>a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #8fcfe6;
}

/* foot*/
.footer {
    margin: 2rem auto;
    color: #7b7b7b;
    zoom: 1;
}
.footer a{
    color: inherit;
}
.footer a:hover,.footer a:focus,.footer a:active{
    color: rgb(30, 166, 221);
}
.footer:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
