/* 设置默认背景*/
body{
    background-color: #fbfbfb;
    font-family:  "Microsoft YaHei";;
}
footer{
    color: #8f8f8f;
}
textarea{
    resize: none;
}
/*
定义head nav的属性
背景RGB
文字RGB
触碰选中背景RGB
*/
.navbar-BgColor{
    background-color: #299ecf!important;

}
.navbar-BgColor a{
    color: #ffffff!important;
}
.navbar-BgColor li{
    padding: 15px;
}
.navbar-BgColor ul{
    margin-bottom: 0;
}
.navbar-BgColor a:hover,.navbar-BgColor a:focus{
    background-color:#299ecf!important;
}
/* nav*/
.nav-mobile{
    height: 50px;
    margin-top: 50px;

}
.background-fff{
    background-color: #ffffff;
}
.nav-mobile>ul{
    width: 100%;
}
.nav-mobile>ul>li{
    padding: 15px;
    width: 32%;
    text-align: center;

}
.nav-mobile>ul>.wuan-nav-action{
    border-bottom: 3px solid #ea3250 ;
}
.nav-mobile>ul>li>a:hover,.nav-mobile>ul>li>a:focus{
    text-decoration: none;
}
/* posts 文章列表 */
.my-posts .col-sm-12,.my-posts .col-sm-12,.my-posts .col-xs-12,.my-posts .col-xs-10{
    padding-left: 0;
}
.my-posts>section{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 15px!important;
    margin-bottom: 30px;
}
.my-posts{
    margin-top: 120px;
}
.my-posts>header{
    position: relative;
}
.my-posts>header>button{
    position: absolute;
    right: 0;
    top: 0;
}
.my-posts>footer button,.my-posts>header>button{
    color: #ffffff;
    background-color: #299ecf;
}
.my-posts>footer button,.my-posts>footer input{
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-posts>div{
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-posts>article div{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* topic 全部星球 */
.topic{
    position: relative;
    padding-left: 25%;

}
.topic>img{
    position: absolute;
    left: 5%;
}
/*  补正 margin top 过高*/
.margin-x{
    margin-top: 50px; ;
}